<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-3-python-sql/Python_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13" 
}

Find a way to display the keys that have int values.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

In [ ]:
{val for val in wildcodeschool if type(wildcodeschool[val])==int}

{'data_analyst', 'data_scientist'}

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [ ]:
{wildcodeschool[val] for val in wildcodeschool if 'e' in val}

{'13', 2}

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" > 19, using a **dictionary method**.

In [ ]:
wildcodeschool["dev_web"] = int(wildcodeschool["dev_web"])
print(type(wildcodeschool["dev_web"]), wildcodeschool["dev_web"])

#I think the '>' meant '='
wildcodeschool.setdefault("total_campus", 19)
wildcodeschool

<class 'int'> 13

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': 13, 'total_campus': 19}

# Mission 4

Take the dictionary generated from mission 3. Delete any key value pair randomly, except for total_campus.

In [ ]:
import random
choice = random.choice([val for val in wildcodeschool if val != 'total_campus'])
print('deleting;',choice)
del(wildcodeschool[choice])
wildcodeschool

deleting; dev_web

{'data_analyst': 4, 'data_scientist': 2, 'total_campus': 19}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [ ]:
sorted(wildcodeschool.keys())

['data_analyst', 'data_scientist', 'total_campus']

# Mission 6

Create a function that returns the same output as the **values()** method.

In [ ]:
def get_dict_vals(dictionary):
  return [wildcodeschool[val] for val in wildcodeschool]

wildcodeschool.values()

dict_values([4, 2, 19])

In [ ]:
get_dict_vals(wildcodeschool)

[4, 2, 19]