<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-3-python-sql/Python_and_the_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [ ]:
sample_tuple = (1, 2, 3, 'a', 'b', 'c', [4, 5, 6], ['d', 'e', 'f'], {'a':1, 'b':2, 'c':3}, {'aa':11, 'bb':22, 'cc':33})
print(type(sample_tuple))
sample_tuple[7][-2]

<class 'tuple'>

'e'

# Mission 2

With same tuple, access the last 4 elements using slicing

In [ ]:
print(sample_tuple[-4:])

([4, 5, 6], ['d', 'e', 'f'], {'a': 1, 'b': 2, 'c': 3}, {'aa': 11, 'bb': 22, 'cc': 33})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [ ]:
sample_tuple = list(sample_tuple)
sample_tuple[3] = 'AAA'
sample_tuple = tuple(sample_tuple)
sample_tuple

(1,
 2,
 3,
 'AAA',
 'b',
 'c',
 [4, 5, 6],
 ['d', 'e', 'f'],
 {'a': 1, 'b': 2, 'c': 3},
 {'aa': 11, 'bb': 22, 'cc': 33})

# Mission 4

Create 2 tuples that contain only integers.
Create a function that compares them to each other and indicates which one returns the highest total value after adding all their values together.

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = (1,1000)

def compare_tuples(first, second):
  if sum(first) > sum(second):
    print('The first has the highest sum')
  elif sum(second) > sum(first):
    print('The second has the highest sum')
  else:
    print('The sums of both lists are equal')

compare_tuples(tuple1, tuple2)

The second has the highest sum

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a function that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [ ]:
#position is zero indexed

def change_tuple(vals, position, element):
  vals = list(vals)
  vals[position] = element
  return tuple(vals)


my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

change_tuple(my_tuple, 3, 'changed')

('data analyst', 'data scientist', 'data engineer', 'changed')