<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-3-python-sql/Python_and_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a function that uses the len method to display the length of the string named: "string" below.

Make the character count returned by your function ignore the number of spaces (without changing the string).

string = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "

In [ ]:
def count(data):
  return len(data) - data.count(' ')

sample_count = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "
count(sample_count)

85

# Mission 2

Create a function that takes a string as one parameter and a character as another parameter. The function should return the position (starting with 1 and not 0) of all occurrences of the character within the string.

For example, for the word "hello" and for the character "o", the function will return :
- "position : 5"

In [ ]:
def find_one(data, char):
  positions = []
  data = data.lower()
  char = char.lower()

  for i in range(len(data)):
    if data[i] == char:
      positions.append(i+1)

  if len(positions) > 0:
    print ((f"'{char}' found at position(s) {positions}"))
  else:
   print (f"'{char}' not found")


find_one_sample = 'abaaaaaa'
#find_one_sample = 'abcdefg'
#find_one_sample = 'bcdefga'
#find_one_sample = 'bcdefg'

find_one(find_one_sample, 'A')

'a' found at position(s) [1, 3, 4, 5, 6, 7, 8]

# Mission 3

Create a function that only displays characters from one position to another position. In other words, make it so that you are able to decide the exact character range to be displayed.

In [ ]:
#positions start at 1, end is inclusive
def positions(start, end, word):
  if (start and end in range(len(word)+1)) and (start <= end):
    return word[start-1:end]
  else:
    return 'word does not fit in positons given'


sample_positions = 'word'
positions(1,4,sample_positions)

'word'

# Mission 4

Find 3 ways to return the following string without including the spaces at the beginning and the end (without changing the string): " Data Analyst ".

In [ ]:
_string = " Data Analyst "
print(_string[1:-1])
print(_string.strip())
#print(_string.rstrip().lstrip())
print(' '.join(_string.split()))

Data Analyst
Data Analyst
Data Analyst

# Mission 5

Create a function that converts all vowels to uppercase and all consonants to lowercase.

In [ ]:
#excluding 'y'
def convert(data):
  vowels = 'a e i o u'.split()
  data = data.lower()

  return ''.join([char.upper() if char in vowels else char for char in data])


#sample_convert = 'coucou1'
sample_convert = 'COUCOU1'
convert(sample_convert)

'cOUcOU1'

# Mission 6

Create a function that replaces one character with another and redisplays the modified string.

In [ ]:
#char1 replaces char2 in the string
def replace_char(data, char1, char2):
  return data.replace(char1, char2)



sample_replace_char = 'my nname is bobn'
#replace_char(sample_replace_char, ' ', 'j')
replace_char(sample_replace_char, 'n', 'j')

'my jjame is bobj'