<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-3-python-sql/Python_and_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a function that takes a list as a parameter and displays only the elements (and their position) that have positions that are even (0, 2, 4, 6...).

Example list = ["a", "b", "c", "d", "e"], the function should return : 
- a position 0
- c position 2
- e position 4

In [ ]:
def evens_only(data):
  for i in range(len(data)):
    if i % 2 == 0:
      print(f"{data[i]} position {i}") 



sample_evens_only = ["a", "b", "c", "d", "e"]
evens_only(sample_evens_only)

a position 0
c position 2
e position 4

# Mission 2

Create a function that takes a list as a parameter. Then make the function allow to replace the value of an element with another simply by indicating its position, however, only if both elements have the same type.

In [ ]:
def swap_same_type (data, val, position):
  if (position in range(len(data))):
    if (type(val) == type(data[position])):
      data[position] = val
      return data
    else:
      print('Not the same data type')
  else:
    print('Not a valid position')



sample_swap_same_type = ["a", 1, "c", 2, "e"]

print(swap_same_type(sample_swap_same_type, '8', 4))
swap_same_type(sample_swap_same_type, 8, 4)
swap_same_type(sample_swap_same_type, 8, 5)

['a', 1, 'c', 2, '8']
Not the same data type
Not a valid position

# Mission 3

Create a function that adds an element to the end of a list and removes the first element so that the list stays the same size.

In [ ]:
def add_and_pop(data, element):
  return data[1:] + [element]


sample_add_and_pop = ["a", 1, "c", 2, "e"]
add_and_pop(sample_add_and_pop, 5)

[1, 'c', 2, 'e', 5]

# Mission 4

Create a function that does the same thing as the insert method, but at a random position.

In [ ]:
import random

def insert_random(data, element):
  _add = random.randint(0, len(data))
  print('random index position =',_add)
  start = data[:_add]
  end = data[_add:]
  return start + [element] + end


sample_insert_random = [1,2,6,7]

insert_random(sample_insert_random,25)

random index position = 0

[25, 1, 2, 6, 7]

# Mission 5

Create a function that does the same thing as the pop method for a list containing only characters. The difference is that this function displays a message indicating the number of characters that are identical to the deleted character and still remain in the string. In other words, if there were 3 "b" s in the list, and one has just been deleted by your function, the function will display "there are still 2 letter b s".

In [ ]:
def pop_count(data, position = -1):
  if position == -1:
    popped_data = data[:position]

  if position != -1 and position in range(len(data)):
    popped_data = data[:position]+data[position+1:]
    

  counter = 0
  for val in popped_data:
    if val == data[position]:
      counter +=1

  if counter == 0:
    print(f"That was the last '{data[position]}'")
  elif counter == 1:
    print(f"There is 1 '{data[position]}' left")
  else:
    print(f'''There are still {counter} '{data[position]}'s''')



sample_pop_count = ["a", "b", "c"]
sample_pop_count1 = ["a", "b", "c", "c"]
sample_pop_count2 = ["a", "b", "c", "c", "c"]
pop_count(sample_pop_count)
pop_count(sample_pop_count1)
pop_count(sample_pop_count2)
pop_count(sample_pop_count2, position=2)

That was the last 'c'
There is 1 'c' left
There are still 2 'c's
There are still 2 'c's

# Mission 6

Create a function that takes in 3 lists as parameters, and indicates the two that are "closest". That is to say, the two that have the most elements in common.

In [ ]:
def two_largest(list1, list2, list3):
  
  OneTwo = [val for val in One if val in Two]
  TwoThree = [val for val in Two if val in Three]
  OneThree = [val for val in One if val in Three]


  if len(OneTwo) > len(TwoThree) and len(OneTwo) > len(OneThree):
    print('List One and Two are closest')

  if len(TwoThree) > len(OneTwo) and len(TwoThree) > len(OneThree):
    print('List Two and Three are closest')

  if len(OneThree) > len(OneTwo) and len(OneThree) > len(TwoThree):
    print('List One and Three are closest')

  if len(OneThree) == len(OneTwo) and len(OneThree) == len(TwoThree):
    print('All three are equally close')
  


One = ['x', 'y', 't', 'p']
Two = ['x', 'y', 't', 'e']
Three = ['x', 'y', 't', 'p']


two_largest(One, Two, Three)

List One and Three are closest

# Mission 7

Create a function that displays all the items in a list of int from smallest to the largest. In other words, a function that sorts the list from smallest to largest.

In [ ]:
def swap_sort(data):
  condition = True
  while condition:
    swaps = 0
    for i in range(len(data)-1):
      if data[i] > data[i+1]:
        data[i], data[i+1] = data[i+1], data[i]
        swaps = 1
    if swaps == 0:
      condition = False
  return data

sample_swap_sort = [4,5,6,0,9,4,10,12,18,2,0]
swap_sort(sample_swap_sort)

[0, 0, 2, 4, 4, 5, 6, 9, 10, 12, 18]