<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-7-pandas-sql-plot%20/Pandas_Part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Display the first 10 rows of the following file: http://bit.ly/imdbratings

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
url = 'http://bit.ly/imdbratings'
df = pd.read_csv(url)
df.head(10)

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
5          8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6          8.9  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7          8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8          8.9  ...  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9          8.9  ...  [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...

[10 rows x 6 columns]

# Mission 2

Sort your dataframe in ascending order according to the star_rating column.

In [ ]:
print(df.star_rating.min())
df.sort_values(by='star_rating').head()

7.4

     star_rating  ...                                        actors_list
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...
950          7.4  ...  [u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan...
949          7.4  ...  [u'Macaulay Culkin', u'Joe Pesci', u'Daniel St...
948          7.4  ...  [u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri...
947          7.4  ...  [u'Jack Nance', u'Charlotte Stewart', u'Allen ...

[5 rows x 6 columns]

# Mission 3

Answer the question below:
- What is the median star rating?
- What is the genre of the most highly rated film?
- How many (in percentage) of films belong to each genre?

In [ ]:
print('median val:', df.star_rating.median())
print()
print('genre of highest rated:', df[df.star_rating == df.star_rating.max()]['genre'].values[0])
print()
print(df['genre'].value_counts(normalize=True))

median val: 7.8

genre of highest rated: Crime

Drama        0.283963
Comedy       0.159346
Action       0.138917
Crime        0.126660
Biography    0.078652
Adventure    0.076609
Animation    0.063330
Horror       0.029622
Mystery      0.016343
Western      0.009193
Sci-Fi       0.005107
Thriller     0.005107
Film-Noir    0.003064
Family       0.002043
History      0.001021
Fantasy      0.001021
Name: genre, dtype: float64

# Mission 4

Display only the rows with films that belong to the lowest rated genre (based on the average rating of the films in this genre)

In [ ]:
mask = df.groupby('genre')['star_rating'].mean().sort_values().index[0]
print('average genre with lowest rating:', mask)
df[df['genre']==mask]

average genre with lowest rating: Thriller

     star_rating  ...                                        actors_list
350          8.0  ...  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...
496          7.8  ...  [u'James Caan', u'Kathy Bates', u'Richard Farn...
728          7.6  ...  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...
848          7.5  ...  [u'James Stewart', u'Doris Day', u'Brenda de B...
902          7.5  ...   [u'Jon Finch', u'Barry Foster', u'Alec McCowen']

[5 rows x 6 columns]

# Mission 5

Display films which are longer than 200 minutes **and** which belong to a genre with a name containing the letter 'h' (either lower case or upper case)

In [ ]:
length = df['duration'] > 200
title = df['genre'].str.contains('h|H')

df[title & length]

     star_rating  ...                                        actors_list
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...

[1 rows x 6 columns]

# Mission 6

Which actor is mentioned most often in the entire dataframe?

In [ ]:
df['Name'] = df['actors_list'].str.findall('(\'\w+\s\w+\s*\w*\')')
df['Name'].explode().value_counts().head(5)

'Robert De Niro'    18
'Clint Eastwood'    14
'Brad Pitt'         14
'Tom Hanks'         14
'Al Pacino'         13
Name: Name, dtype: int64