<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-17-API-GeoCoding/API_REST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import json

#Retrieves the data from the following REST API.  
https://data.nantesmetropole.fr/explore/dataset/244400404_stations-velos-libre-service-nantes-metropole-disponibilites/api/

In [ ]:
url = "https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_stations-velos-libre-service-nantes-metropole-disponibilites&q=&facet=banking&facet=bonus&facet=status&facet=contract_name"
r = requests.get(url)

In [ ]:
df = pd.json_normalize(r.json()['records'])[['fields.address', 'fields.bike_stands', 'fields.available_bikes']]

#Displays a DataFrame with the address of each station, and the associated fill rate (i.e. the number of bikes available available_bikes / the total number of slots bike_stands).

In [ ]:
df['fill_rate'] = df['fields.available_bikes']/df['fields.bike_stands']
df.drop(['fields.bike_stands', 'fields.available_bikes'], axis=1, inplace=True)
df.head(10)

                                      fields.address  fill_rate
0                     CREATION STATION TEST NANTES 2   0.000000
1                                       Place Jean V   0.000000
2                                   23, place Viarme   0.500000
3                             20, rue Gaëtan Rondeau   0.800000
4                              8, place René Bouhier   0.466667
5                            4, place Emile Sarradin   0.692308
6  25, boulevard Victor Hugo - 28, boulevard Gust...   0.533333
7                              Rue de la Gare - REZÉ   0.550000
8  Face 11, quai Marcel Boissard - Trentemoult - ...   0.653846
9                             50, boulevard Michelet   0.440000