<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-4-python-sql/toolbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 partition() method searches for a specified string, and splits the string into a tuple containing three elements.

txt = "I could eat bananas all day"
x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
#2 product() - Cartesian Product of two sets - all ordered pairs (a, b) where a belongs to A and b belongs to B. 

from itertools import product
#combinations, permutations

arr1 = [1, 2, 3]
arr2 = [5, 6, 7]

list(product(arr1, arr2, repeat=1))

[(1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (3, 5), (3, 6), (3, 7)]

In [ ]:
#3 dropwhile() - Make an iterator that drops elements from the iterable as long as the predicate is true; afterwards, returns every element.
# use with custom function to efficently drop elements from a list

from itertools import dropwhile

li = [2, 4, 5, 7, 8]  
list(dropwhile(lambda x : x % 2 == 0, li))

[5, 7, 8]

In [ ]:
#4 Class 'Counter' It is an unordered collection where elements are stored as dictionary keys 
# and their counts are stored as dictionary values. Counts are allowed to be any integer value including zero or negative counts.

from collections import Counter

# most_common() - retrieve counts of n most common elements in an iterable
text = 'abracadabrabandanaaaaaa'
Counter(text).most_common(5)

[('a', 13), ('b', 3), ('r', 2), ('d', 2), ('n', 2)]

In [ ]:
#5 Class 'os' - This module provides a way of using operating system dependent functionality 
import os

# uname() retrive basic system information
print(os.uname())

# scandir() iterate over file path to search for files meeting conditions
with os.scandir('/content/sample_data') as it:
    for entry in it:
        if entry.name.startswith('ca') and entry.is_file():
            print(entry.name)

# walk() file system
for i in os.walk('/content/sample_data'):
  print(i)

posix.uname_result(sysname='Linux', nodename='75e1f692e729', release='4.19.112+', version='#1 SMP Thu Jul 23 08:00:38 PDT 2020', machine='x86_64')
california_housing_test.csv
california_housing_train.csv
('/content/sample_data', [], ['README.md', 'anscombe.json', 'mnist_train_small.csv', 'california_housing_test.csv', 'california_housing_train.csv', 'mnist_test.csv'])

In [ ]:
#6 isinstance() returns True if the specified object is of the specified type, otherwise False.
# If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple.

x = isinstance("Hello", (float, int, str, list, dict, tuple))
y = isinstance("Hello", (float, int, list, dict, tuple))
x, y

(True, False)

In [ ]:
#7 replace() replaces a specified phrase with another specified phrase.

txt = "one one was a race horse, two two was one too."

#able to replace a defined number of times(first to n), or all occurances
z = txt.replace("one", "three", 2)
x = txt.replace("one", "three")

print(x)
print(z)

three three was a race horse, two two was three too.
three three was a race horse, two two was one too.

In [ ]:
#8 translate() returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

#Sample usages
print(ord('S'), chr(83))
mydict = {83:  80};
txt = "Hello Sam!";
print(txt.translate(mydict))

txt = "Hi Sam!";
x = "mSa";
y = "eJo";
mytable = txt.maketrans(x, y);
print(txt.translate(mytable))

txt = "Good night Sam!";
x = "mSa";
y = "eJo";
z = "odnght";
mytable = txt.maketrans(x, y, z);
print(txt.translate(mytable))

txt = "Good night Sam!";
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None};
print(txt.translate(mydict))

83 S
Hello Pam!
Hi Joe!
G i Joe!
G i Joe!

In [ ]:
#9 insert() adds an item at a specified index
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "orange")
thislist

['apple', 'banana', 'orange', 'cherry']

In [ ]:
#10 SETS

#union() of sets, returns single instance of all common elements
set1 = {"a", "b" , "c", 1,2,3}
set2 = {1, 2, 3}
set3 = (set1.union(set2))
print(set3)

# difference() gives elements that are unique in comparison with another given set
z = set1.difference(set2)
print(z)

{1, 2, 3, 'a', 'c', 'b'}
{'a', 'c', 'b'}