<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-12-ml-auto-pca/Cross_Validation_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import classification_report

link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/titanic.csv"
df = pd.read_csv(link)
df['Survived'] = df['Survived'].apply(lambda x: "Survived" if x == 1 else "Dead")
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0      Dead       3  ...                       0   7.2500
1  Survived       1  ...                       0  71.2833
2  Survived       3  ...                       0   7.9250
3  Survived       1  ...                       0  53.1000
4      Dead       3  ...                       0   8.0500

[5 rows x 8 columns]

# Data preparation

What are the "type" of each column? Are there non-numeric columns?

In [ ]:
sexes = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(sexes)

survival = {'Dead': 0, 'Survived': 1}
df['Survived'] = df['Survived'].map(survival)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.model_selection import GridSearchCV

In [ ]:
X = df.drop(['Survived', 'Name'], axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, stratify=y)

LM = LogisticRegression()

model = LM.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("train data:",model.score(X_train, y_train))
print("test data:",model.score(X_test, y_test))

train data: 0.8164983164983165
test data: 0.7986348122866894

#Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
cvs = cross_val_score(LogisticRegression(), X, y, cv=6)
cvs

array([0.77702703, 0.80405405, 0.79054054, 0.78378378, 0.7972973 ,
       0.81632653])

In [ ]:
#mean, variance, std
cvs.mean(), np.var(cvs), np.std(cvs)

(0.7948382055524913, 0.00016843922589135775, 0.01297841384343086)