<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-8-pandas-sql/Pandas_Part_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission

Still using this dataset: http://bit.ly/imdbratings
- Which actor is mentioned the most often?

In [ ]:
import pandas as pd

In [ ]:
url = 'http://bit.ly/imdbratings'
df = pd.read_csv(url)
df.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
df['actors_list'].apply(eval).explode().value_counts().head(1)

Robert De Niro    18
Name: actors_list, dtype: int64